@font-face {
	src: url('fonts/script_font.otf');
	font-family: "Scriptf";
}

body {
    margin: 0px;
    background-image: url(/MN15093/images/images.jpeg);
    background-attachment: fixed;
}

.logout {
    background-color: aqua;
    border: 0px;
    font-size: 20px;
    display: inline-block;
    width: 110px;
    font-weight: 0;
}

.logout:hover {
    cursor: pointer;  
    color: white;
    font: Scriptf;
}

#responsive_nav .logout:hover {
    background-color: teal;
	}

#responsive_nav .logout {
    padding: 8px;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.omotac {
    float: none;
    margin: auto;
    width: 80%;
    background-color: steelblue;
    min-height: 100vh;
}

a {
	text-decoration: none;
	color: black;
}

header {
    background-color: aqua;
    box-sizing: border-box;
	position: fixed;
	width: 80%;
    height: 60px;
    overflow: visible;
}

nav {
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    padding-left: 0px;
}

#navbar li {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    padding-top: 2px;
}

#navbar li a {
	font-size: 20px;
    vertical-align: top;
}

.ponuda li:hover {
		background-color: teal;
	}

#navbar li:hover a {
		color: white;
	}

header::after {
    content: "";
    display: block;
    clear: both;
}

#naziv {
    float: left;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

#ikonica {
    display: block;
    float: right;
    font-size: 20px;
	padding: 10px;
    border: none;
    background-color: aqua;
	cursor: pointer;
    display: none;
    outline: 0;
}

 #responsive_nav {
    position: absolute;
	top: 59px;
    background-color: aqua;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: none;
    border-bottom: 2px solid gray;
}

#responsive_nav li {
    list-style: none;
}

#responsive_nav li:hover {
    background-color: teal;
}

#responsive_nav li:hover a {
    color: white;
}

#responsive_nav li a {
		padding: 8px;
		display: inline-block;
		width: 100%;
        padding-left: 20px;
}

.clicked {
	background-color: black;
	color: white;
}

.ponuda li{
    text-indent: 20px;
}


.po_clicked {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-indent: 20px;
}

.ponuda {
    list-style: none;
    display: none;
    background-color: aqua;
    padding-left: 0px;
/*    padding-top: 10px;*/
}

#po {
    padding-top: 10px;
}

#uvod {
    margin: auto;
}

#section_pocetna {
    padding: 90px;
}

footer {
    margin: 0px;
    height: 5%;
    background-color: aqua;
    text-align: center;
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    float: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 10%;
}

.slike {
    float: left;
    display: inline-block;
    width: 60%;
}

.opis {
    float: left;
    font-size: 20px;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

article {
    margin: 5%;
}

.proizvodi {
    padding: 10%;
}

#korpa {
    padding-top: 80px;
}

#kontakt {
    letter-spacing: 2px;
    float: left;
}

@media (min-width: 821px){
    .ponuda li {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 1035px){
    
    #ikonica {
        display: block;    
    }
    
	#navbar {
		display: none;
	}
    
    #naziv {
        font-size: 30px;
    }
}

@media (max-width: 400px){
    
    #naziv {
        font-size: 23px;
    }
}

@media (max-width: 305px){
    
    #naziv {
        font-size: 17px;
    }
}

@media (max-width: 530px){
    
    img {
        width: 100%;
    }
    
    .opis {
        font-size: 15px;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 65px;
    }

}
